<div id="insert" fxLayout="row" fxLayoutAlign="center center">
  <form class="example-form">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field>
            <mat-label>Artista</mat-label>
            <mat-select
              [formControl]="artistasSelect"
              (selectionChange)="selection($event.value)"
            >
              <mat-option
                *ngFor="let artista of artistas"
                [value]="artista.idArtista"
              >
                {{ artista.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-label>Album</mat-label>
            <mat-select [formControl]="albumesSelect">
              <mat-option [value]="">Single</mat-option>
              <mat-option
                *ngFor="let album of albumes"
                [value]="album.idAlbum"
                >{{ album.titulo }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Titulo de la cancion</mat-label>
            <input matInput maxlength="45" name="nombreInput" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <mat-form-field class="example-full-width">
          <mat-label>Lyrcis (Opcional)</mat-label>
          <textarea
            matInput
            maxlength="65535"
            name="descripcionInput"
          ></textarea>
        </mat-form-field>
      </tr>
    </table>

    <table class="example-full-width" id="demas" cellspacing="0">
      <tr>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Año de lanzamiento</mat-label>
            <input
              matInput
              type="number"
              [(ngModel)]="selectedYear"
              name="selectedYear"
              min="1600"
              max="2024"
            />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Duracion</mat-label>
            <input
              matInput
              placeholder="Formato: mm:ss:ms"
              [(ngModel)]="songDuration"
              name="songDuration"
              type="text"
            />
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
</div>
